.NavBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 64px;
    width: 100vw;
    background-color: #374A67;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 33px;
        font-size: 20px;
        transition: 150ms;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: 0,4s;
        svg{
            height: 25px;
            width: 25px;
        }
    }
    a:hover{
        border-color: #ffffff;
    }
}