.Contato{
    .Contato_infos{
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;

        h2{
            font-size: 20px;
            padding-left: 20px; 
            padding-right: 20px; 
            margin-bottom: 0px;
        }
    }
}  