.Contato{  
    
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;

        h2{
            font-size: 20px;
            padding-left: 20px; 
            padding-right: 20px; 
            margin-bottom: 0px;
            margin-top: 16px;
        }
        p{
            margin-left: 32px;
            margin-right: 32px;
            margin-top: 8px;
        }
        hr {
        border: none;
        height: 2px;
        background-image: linear-gradient(to right, #0E1116, rgba(55, 74, 103, 0.5), rgba(55, 74, 103, 1), rgba(55, 74, 103, 0.5), #0E1116);
    }

}