@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  color:#FFFFFF;
  background-color: #0E1116;
  font-size: 16px;

  p{
    height: auto;
    line-height: 24px;
    letter-spacing: 0%;
    font-family: 'Montserrat', sans-serif;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  h1, h2, h3 {
    font-family: 'Montserrat', serif;
  }
}