@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Home{
    .Home_top{
        left: 0;
        right: 0;
        top: 0;
        height: 180px;
        background-color: #374A67;
        border-radius: 0px 0px 150px 0px;
        display: flex;
        justify-content: center;
        .foto_de_perfil{
            img{
                width: 190px;
                height: 190px;
                border-radius: 50px;
                margin-top: 32px;
                box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
            }
            
        }
    }
    .Home_text{
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 64px;
        margin-bottom: 16px;
        h1{
            font-family: 'Source Code Pro', 'Montserrat';
            padding-left: 16px;
            text-align: start;
            margin: 0;
            font-size: 40px;
        }
    }
    .GitHubStats{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 96px;
        img{
            height: auto;
            width: auto;
        }
    }
}
.NavBar{
    display: flex;
    height: auto;
    align-items: flex-end;
}
@media ( max-width: 360px){
    .Home{
        .GitHubStats{
            img{
                width: 320px;
            }
        }
    }
}