.CardContato{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding-bottom: 96px;
    
    .Container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E1116;
    height: 80px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 16px;
    gap: 16px;
    border: #374A67 2px solid;
    }

}