.CardContato{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    
    h2{
        font-size: 20px;
        padding-left: 20px; 
        padding-right: 20px; 
        margin-bottom: 0px;
        margin-top: 16px;
    }

    .Container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        border-radius: 16px;
   
        .icone{

            padding-right: 16px;
            padding-left: 16px;
        }

    }

}